APP_NAME=Open Admin
FRONTEND_PORT=5173
BACKEND_PORT=8000
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=open_admin
MYSQL_USER=open_admin
MYSQL_PASSWORD=open_admin_password
MYSQL_ROOT_PASSWORD=root_password
JWT_SECRET_KEY=change-me-in-local-env
